@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Open+Sans:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #212121;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

p {
  line-height: 27px;
}

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  color: #212121;
}

ul,
ol {
  list-style-type: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.general__title {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 42px;
  text-align: center;
}
.general__title span {
  color: #5700d8;
}

.general__subtitle {
  color: #8a8a8a;
  text-align: center;
  text-transform: uppercase;
}

.btn {
  background-color: #5700d8;
  -webkit-box-shadow: 0 2px #4600ad, inset 0 0 36px rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px #4600ad, inset 0 0 36px rgba(255, 255, 255, 0.4);
  padding: 25px 50px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 18px;
  border: none;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
  min-width: 240px;
  -webkit-transition: 1.1s ease;
  -o-transition: 1.1s ease;
  transition: 1.1s ease;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #5700d8;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header__burger {
  display: none;
}

.header__bg {
  background-image: url(../img/bg-header.jpg);
  width: 100%;
  padding-top: 40px;
  padding-bottom: 131px;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

.wrapper__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), to(white));
  background: -o-linear-gradient(bottom, #f3f3f3 0%, white 100%);
  background: linear-gradient(0deg, #f3f3f3 0%, white 100%);
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 0px 16px;
  opacity: 1;
  -webkit-transition: 2ms ease-in, 1ms ease-out;
  -o-transition: 2ms ease-in, 1ms ease-out;
  transition: 2ms ease-in, 1ms ease-out;
}

.wrapper__header_dell {
  opacity: 0;
}

.nav__header {
  -webkit-flex-basis: 70%;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
}
.nav__header .up__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ededed;
}
.nav__header .up__nav .appellation {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
}
.nav__header .up__nav .appellation.appellation:hover {
  color: #5700d8;
}
.nav__header .up__nav .locate {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #8a8a8a;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
}
.nav__header .up__nav .locate.locate:hover,
.nav__header .up__nav .locate .locate:active,
.nav__header .up__nav .locate .locate:focus {
  color: #5700d8;
}

.nav__elements {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.nav__elements .nav__element {
  border-right: 1px solid #ededed;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__elements .nav__element.nav__element:last-child {
  border-right: none;
}
.nav__elements .nav__element .link__main {
  padding: 20px 20px 20px 30px;
}
.nav__elements .nav__element .link__main.link__main:hover,
.nav__elements .nav__element .link__main .link__main:active,
.nav__elements .nav__element .link__main .link__main:focus {
  background-color: #ededed;
}

.contact__header {
  text-align: end;
}

.number {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 26px;
  color: #212121;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
}
.number.number:hover {
  color: #5700d8;
}

.wrapper__btnNumber {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.btnNumber__icon {
  margin-right: 10px;
}

.btn__icon {
  padding: 6px;
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #5700d8;
  font-size: 12px;
}

.btn__number {
  border: none;
  outline: none;
  background: none;
  font-weight: 700;
  color: #5700d8;
}
.btn__number.btn__number:hover,
.btn__number .btn__number:active,
.btn__number .btn__number:focus {
  color: rgba(87, 0, 216, 0.6);
}

.header__toScroll {
  position: relative;
  top: 0;
  display: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), to(white));
  background: -o-linear-gradient(bottom, #f3f3f3 0%, white 100%);
  background: linear-gradient(0deg, #f3f3f3 0%, white 100%);
  padding: 20px 16px;
  -webkit-transition: 0.2s ease-in, 1ms ease-out;
  -o-transition: 0.2s ease-in, 1ms ease-out;
  transition: 0.2s ease-in, 1ms ease-out;
}

.header__toScroll_active {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header__toScroll_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.nav__elements_toScroll {
  -webkit-flex-basis: 65%;
  -ms-flex-preferred-size: 65%;
  flex-basis: 65%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__elements_toScroll .nav__element_toScroll {
  border-right: none;
}
.nav__elements_toScroll .nav__element_toScroll .nav__link {
  padding: 40px 20px;
}
.nav__elements_toScroll .nav__element_toScroll .nav__link.nav__link:hover {
  background-color: #ededed;
}

.contact__header_toScroll {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.number__toScroll {
  font-size: 18px;
  padding-right: 30px;
}

.btn__number_toScroll {
  border: 1px solid #5700d8;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 13px 37px;
  background: none;
  font-weight: 800;
  font-size: 18px;
  color: #5700d8;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.btn__number_toScroll.btn__number_toScroll:hover,
.btn__number_toScroll .btn__number_toScroll:active,
.btn__number_toScroll .btn__number_toScroll:focus {
  background: #5700d8;
  color: #fff;
}

.section__header {
  padding-top: 121px;
}

.section__header_subTitle {
  font-size: 26px;
  color: #8a8a8a;
}

.section__header_title {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 52px;
  color: #212121;
}
.section__header_title span {
  color: #5700d8;
}

.section__header_btn {
  width: 240px;
}

.no__help {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 26px;
}

.drugs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 54px 0 112px 0;
}
.drugs .noDrugs__img {
  padding-right: 20px;
}

.diseases__elements {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-top: 60px;
}

.diseases__point {
  padding-top: 40px;
}

ul .diseases__point_left {
  text-align: end;
}

.diseases__point_left::after {
  content: url(../img/Ellipse.png);
  padding-left: 10px;
}

.diseases__point_right::before {
  content: url(../img/Ellipse.png);
  padding-right: 10px;
}

.secretMethod__advantages {
  font-weight: 700;
  margin-top: 50px;
}

.secretMethod__elements {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 60px;
  margin-bottom: 129px;
}

.secretMethod__point {
  padding-top: 20px;
}

.secretMethod__point::before {
  content: url(../img/check.svg);
  padding-right: 10px;
  vertical-align: middle;
}

.section__form {
  background-image: url(../img/form-bg-2-0.png);
  padding: 60px 0;
  margin-bottom: 80px;
}

.form .form__title {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 42px;
  margin-top: 0;
}
.form .form__title span {
  color: #5700d8;
}

.form__elements {
  margin-top: 40px;
}
.form__elements input {
  border: none;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #ededed;
  padding: 22px 26px;
  margin-right: 20px;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}
.button .button__confidentiality {
  font-size: 14px;
  color: #8a8a8a;
  margin-left: 30px;
}
.button .button__confidentiality a {
  color: #8a8a8a;
  text-decoration: underline;
}

.section__form_discount {
  background-color: #f9fafb;
  padding: 60px 0;
}

.form__discount {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.form__discount_img {
  position: relative;
}

.discount__img {
  position: absolute;
  top: -105px;
  left: 20px;
}

.form__discount_btnUp {
  position: relative;
}

.button__up {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  color: #5700d8;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 50000;
}

.specialist__element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.specialist__info .specialist__info_title {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 42px;
  margin-bottom: 30px;
}
.specialist__info .specialist__info_title span {
  color: #5700d8;
}
.specialist__info .specialist__info_subtitle {
  color: #8a8a8a;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.specialist__info .specialist__category {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.specialist__info .category__text {
  max-width: 677px;
  margin: 0;
  margin-top: 20px;
}
.specialist__info .category__text span {
  font-weight: 700;
  color: #212121;
}
.specialist__info .category__text.category__text:first-child {
  margin-right: 40px;
}

.specialist__line {
  width: 740px;
  border: 1px solid #ededed;
  margin: 30px 0;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.slider .slick-arrow {
  top: 35%;
}
.slider .slick-arrow.slick-prev {
  left: -80px;
  background: url(../img/arrow-prev.svg) center center no-repeat;
  background-color: #5700d8;
}

.slider .slick-arrow.slick-next {
  right: -80px;
  background: url(../img/arrow-next.svg) center center no-repeat;
  background-color: #5700d8;
}

.services__cards_slider .services__card {
  margin-right: 20px;
}

.card__title_slider {
  color: #8a8a8a;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.card__item_number .mobile__img {
  display: none;
}

.slider__block {
  display: none;
}

.slider__block_active {
  display: block;
}

.section__services {
  margin-top: 120px;
  margin-bottom: 120px;
}

.services__card_bg {
  background-color: #f9fafb;
  -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin: 60px 0;
}

.services__card_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border: 1px solid #fff;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 20px;
}

.card__title {
  color: #8a8a8a;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 26px;
  margin: 0;
}

.card__title_btn {
  background: none;
  border: none;
  padding: 40px 0;
  width: 470px;
  text-align: center;
  cursor: pointer;
  color: #8a8a8a;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
.card__title_btn.card__title_btn:hover {
  border-bottom: 2px solid #8a8a8a;
}

.card__title_btnActive {
  border-bottom: 2px solid #5700d8;
  color: #212121;
}

.services__cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 2fr 2fr;
}

.services__visited {
  display: none;
}

.services__visited_active {
  display: block;
}

.active__card {
  display: block;
}

.active__card:active {
  border-bottom: 2px solid #5700d8;
  color: #212121;
}

.notActive__card {
  display: none;
}

.services__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #fff;
  padding: 46px 0px;
}
.services__card .card__item_info .item__info_title {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 26px;
  margin: 0;
}
.services__card .card__item_info .item__info_text {
  max-width: 364px;
}

.services__button {
  text-align: center;
}

.section__choice {
  margin-bottom: 120px;
}

.choice__elements {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.choice__elements .choice__element {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.section__reviews {
  margin-bottom: 120px;
}

.reviews__video {
  padding-right: 30px;
  -webkit-flex-basis: 150%;
  -ms-flex-preferred-size: 150%;
  flex-basis: 150%;
  max-width: 630px;
  height: 355px;
}

.review__name {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 26px;
}

.reviews__elements {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.review__age {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #5700d8;
  font-size: 26px;
}

.reviews__text span {
  color: #212121;
  font-weight: 700;
}

.reviews__slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.reviews__slider .slick-arrow {
  top: 35%;
}
.reviews__slider .slick-arrow.slick-prev {
  left: -80px;
  background: url(../img/arrow-prev.svg) center center no-repeat;
  background-color: #5700d8;
}

.reviews__slider .slick-arrow.slick-next {
  right: -80px;
  background: url(../img/arrow-next.svg) center center no-repeat;
  background-color: #5700d8;
}

.footer {
  background-color: #212121;
  padding: 63px 0;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__text {
  color: #fff;
}

.footer__text a {
  text-decoration: underline;
}

.footer__btn {
  border: 1px solid #ffff;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: none;
  color: #fff;
  padding: 25px 58px;
  cursor: pointer;
  -webkit-transition: background 0.6s linear;
  -o-transition: background 0.6s linear;
  transition: background 0.6s linear;
}

.footer__btn:hover,
.footer__btn:active,
.footer__btn:focus {
  background: #fff;
  color: #212121;
}

.modelWindow__bg {
  display: none;
  background: url(../img/form-bg.png) center center no-repeat;
  height: 515px;
}

.modelWindow__title {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 42px;
  padding-top: 60px;
}

.modelWindow__bg_discount {
  display: none;
  background-color: #f9fafb;
  height: 515px;
  margin-top: 100px;
}

.modelWindow__discount_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.modelWindow__discount_img {
  position: relative;
}
.modelWindow__discount_img .modelWindow__img {
  position: absolute;
  top: -35px;
  left: 289px;
}

.model__wrapper {
  display: none;
  position: fixed;
  z-index: 5002;
  background-color: #f9fafb;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  top: 40px;
  left: 40%;
}

.model {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 65px 0;
  width: 476px;
}

.model__title {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 42px;
  text-align: center;
  line-height: 54px;
  margin: 0;
  margin-bottom: 35px;
}

.form__modelWindow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 0;
}
.form__modelWindow .input__modelWindow {
  margin-top: 20px;
  margin-right: 0;
}

.button__modelWidow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.button__modelWidow .button__confidentiality_modelWidow {
  margin-left: 0;
}

.modelWindow__close {
  position: absolute;
  left: 425px;
  top: 30px;
  cursor: pointer;
  z-index: 5002;
}

.overLay {
  z-index: 5001;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.sent__wrapper {
  position: fixed;
  z-index: 5003;
  display: none;
  background-color: #f9fafb;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  top: 40px;
  left: 40%;
}

.sent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 65px 0;
  width: 476px;
}

.sentmodel__text {
  margin-top: 40px;
  text-align: center;
}

.sentmodel__img {
  text-align: center;
  width: 186px;
  height: 186px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: url(../img/sent-icon.svg) center center no-repeat;
  background-color: #eee5fb;
  margin-top: 62px;
  margin-bottom: 66px;
}

.button__modelWidow {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.button__modelWidow .sent__btn {
  text-align: center;
  width: 327px;
}

@media (max-width: 1024px) {
  body.lock {
    overflow: hidden;
  }

  .wrapper__header {
    display: none;
  }

  .header__toScroll {
    opacity: 0;
  }
  .header__toScroll.header__toScroll_active {
    opacity: 0;
    position: static;
    display: none;
  }

  .container {
    padding: 7px;
  }

  .header__toScroll {
    display: none;
  }

  .humburger__logo {
    z-index: 5000;
  }

  .header__burger {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3000;
    padding: 10px 0;
  }

  .header__burger::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), to(white));
    background: -o-linear-gradient(bottom, #f3f3f3 0%, white 100%);
    background: linear-gradient(0deg, #f3f3f3 0%, white 100%);
    z-index: 4;
  }

  .header__body {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 80px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .humburger__bg {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
    z-index: 8000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .humburger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 7000;
  }
  .humburger span {
    position: absolute;
    background-color: #5700d8;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .humburger.humburger::before, .humburger.humburger::after {
    content: "";
    background-color: #5700d8;
    position: absolute;
    width: 65%;
    height: 2px;
    left: 0;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .humburger.humburger::before {
    top: 0;
  }
  .humburger.humburger::after {
    bottom: 0;
    left: 10px;
  }

  .humburger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .humburger.active::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
    left: 4px;
  }

  .humburger.active::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
    left: 4px;
  }

  .humburger__btn {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    z-index: 5000;
  }

  .header__burger_nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 85%;
    height: 100%;
    background-color: #fff;
    z-index: 6000;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    overflow-y: scroll;
  }

  .header__burger_nav.active {
    left: 0;
  }

  .header__burger_elements {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__burger_list {
    padding: 0;
    margin: 0;
  }
  .header__burger_list .header__burger_element {
    padding: 17px 0 17px 20px;
    border-top: 1px solid #ededed;
  }
  .header__burger_list .header__burger_element.header__burger_element:last-child {
    border-bottom: 1px solid #ededed;
  }
  .header__burger_list .header__burger_element.header__burger_element:hover {
    background-color: #ededed;
  }
  .header__burger_list .header__burger_link {
    color: #212121;
    font-size: 18px;
  }

  .burger__title {
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 16px;
    padding-left: 20px;
  }

  .header__burger_address {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 17px 0 17px 20px;
  }

  ul .diseases__point_left {
    text-align: left;
  }

  .diseases__point_left::after {
    display: none;
  }

  .diseases__point_left::before {
    content: url(../img/Ellipse.png);
    padding-right: 10px;
  }

  .secretMethod__elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .secretMethod__element_img {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .form .form__title {
    text-align: center;
  }
  .form .form__title br {
    content: "";
  }

  .form__elements input {
    padding: 20px 12px;
  }

  .form__text {
    text-align: center;
  }

  .specialist__element {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .specialist__info {
    text-align: center;
  }

  .specialist__category {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .slider .slick-arrow.slick-prev {
    left: 200px;
    top: 440px;
  }

  .slider .slick-arrow.slick-next {
    right: 200px;
    top: 440px;
  }

  .services__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .services__card .card__item_info .item__info_title {
    text-align: center;
    margin-top: 15px;
  }

  .services__card .card__item_info .item__info_text {
    text-align: center;
  }

  .choice__elements {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .reviews__elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .reviews__info {
    text-align: center;
  }

  .reviews__video {
    width: 100%;
    min-height: 355px;
    padding-right: 0;
  }

  .discount__img {
    display: none;
  }

  .button__up {
    top: 330px;
    left: -100px;
  }

  .footer {
    padding: 40px 0;
  }

  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .wrapper__btn_footer {
    margin: 50px 0;
  }

  .footer__btn {
    margin: 35px 0;
  }

  .model__wrapper {
    top: 50px;
    left: 30%;
  }

  .sent__wrapper {
    top: 50px;
    left: 30%;
  }
}
@media (max-width: 768px) {
  .dell__item {
    display: none;
  }

  .container {
    max-width: 100%;
    padding: 10px;
  }

  .diseases__elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .diseases__img {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .diseases__points_right {
    padding-right: 20px;
  }

  .diseases__point_right:first-child {
    padding-top: 0;
  }

  .card__title_btn {
    width: 100%;
  }

  .form__elements {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form__elements input {
    margin-top: 20px;
  }

  .button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  img {
    max-width: 100%;
  }

  .specialist__line {
    width: 100%;
  }

  .choice__elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: space-evenly;
    -ms-flex-line-pack: space-evenly;
    align-content: space-evenly;
  }
  .choice__elements .choice__element {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .model__wrapper {
    left: 20%;
  }

  .sent__wrapper {
    top: 25px;
    left: 20%;
  }
}
@media (max-width: 425px) {
  body {
    font-size: 16px;
  }

  h5 {
    font-size: 16px;
  }

  .btn__number_toScroll {
    padding: 9px 16px;
  }

  .section__header_title {
    font-size: 38px;
  }

  .header__bg {
    padding-bottom: 30px;
  }

  .drugs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .noDrugs__img {
    width: 30%;
  }

  .secretMethod__elements {
    margin-bottom: 15px;
  }

  .secretMethod__points {
    padding: 0;
  }

  .secretMethod__point {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 160%;
  }

  .specialist__info .specialist__info_title {
    text-align: left;
    font-size: 26px;
  }

  .specialist__category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .category__text {
    text-align: left;
  }

  .slider .slick-arrow.slick-prev {
    left: 140px;
    top: 350px;
  }

  .slider .slick-arrow.slick-next {
    right: 140px;
    top: 350px;
  }

  .card__item_number {
    width: 50%;
  }
  .card__item_number .desctop__img {
    display: none;
  }

  .services__card_slider .services__card.card__item_info.item__info_text {
    max-width: 275px;
  }

  .services__card_slider .card__item_number {
    width: 90%;
  }

  .card__item_number .mobile__img {
    display: block;
  }

  .services__cards_slider {
    padding-right: 100px;
  }
  .services__cards_slider .services__card {
    margin-right: 0px;
  }

  .section__services {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .services__cards {
    overflow: auto;
    grid-template-columns: 2fr;
  }

  .services__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px 52px;
  }

  .services__card.mobil {
    overflow: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0;
  }

  .card__title {
    font-size: 16px;
  }

  .services__card .card__item_info .item__info_title {
    text-align: left;
    font-size: 16px;
  }

  .services__card .card__item_info .item__info_text {
    text-align: left;
    max-width: 190px;
  }

  .section__choice {
    margin-bottom: 0;
  }

  .choice__elements .choice__element {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .choice__img {
    max-width: 40%;
  }

  .choise__text {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 16px;
  }
  .choise__text br {
    content: "";
  }

  .section__reviews {
    margin-bottom: 30px;
  }

  .privacy {
    text-align: center;
  }

  .model__window {
    width: auto;
  }

  .modelWindow__title {
    text-align: center;
  }

  .modelWindow__text {
    text-align: center;
  }

  .model__wrapper {
    left: 0;
    top: 270px;
    padding: 0 45px;
  }

  .model {
    width: 100%;
  }

  .model__title {
    font-size: 23px;
    margin-bottom: 0;
  }
  .model__title br {
    content: "";
  }

  .button__modelWidow {
    margin-top: 0;
  }

  .button__confidentiality_modelWidowbtn {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .button__confidentiality_modelWidowbtn br {
    content: "";
  }

  .sent__wrapper {
    top: 360px;
    left: 0;
    padding: 0 18px;
  }

  .sent {
    width: 100%;
  }

  .sentmodel__title {
    font-size: 22px;
  }

  .sentmodel__text {
    margin-top: 0;
  }

  .sentmodel__img {
    width: 150px;
    height: 150px;
    margin-top: 0;
    margin-bottom: 33px;
  }

  .button__modelWidow .sent__btn {
    width: 200px;
  }
}
@media (max-width: 375px) {
  .general__title {
    font-size: 23px;
  }

  .section__header {
    padding-top: 50px;
  }

  .form .form__title {
    font-size: 23px;
  }

  .drugs {
    margin: 50px 0;
  }

  .specialist__info .specialist__info_subtitle {
    margin-bottom: 0;
    text-align: left;
  }

  .spec {
    text-align: left;
  }

  .btn__number_toScroll {
    font-size: 14px;
  }

  .choice__img {
    max-width: 30%;
  }

  .choise__text {
    text-align: left;
  }

  .humburger__logo {
    max-width: 30%;
  }

  .btn__number_toScroll {
    padding: 9px 10px;
  }

  .slider .slick-arrow.slick-prev {
    left: 110px;
    top: 350px;
  }

  .slider .slick-arrow.slick-next {
    right: 110px;
    top: 350px;
  }

  .model__wrapper {
    top: 280px;
    padding: 0 18px;
  }

  .model__title {
    font-size: 22px;
  }

  .button__modelWidow .model__btn {
    padding: 20px 68px;
  }
}
@media (max-width: 320px) {
  .slider .slick-arrow.slick-prev {
    left: 90px;
    top: 340px;
  }

  .slider .slick-arrow.slick-next {
    right: 90px;
    top: 340px;
  }

  .services__card .mobil .services__card {
    padding: 40px;
  }

  .services__card {
    padding: 5px 52px;
  }

  .services__card_slider .card__item_number {
    width: 90%;
  }

  .card__item_number {
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    padding-top: 10px;
    width: 20%;
  }

  .button__modelWidow .sent__btn {
    width: 290px;
  }

  .button__confidentiality {
    text-align: center;
  }

  .btn {
    padding: 20px 30px;
  }

  .model__wrapper {
    top: 280px;
  }

  .model__title {
    font-size: 21px;
  }

  .button__confidentiality_modelWidowbtn {
    text-align: left;
  }

  .button__modelWidow .model__btn {
    padding: 20px 30px;
  }

  .button__modelWidow .sent__btn {
    width: 200px;
  }

  .sent__wrapper {
    top: 370px;
  }
}